.chat-message.me {
  display: flex;
  justify-content: flex-end;
}

.chat-message.them {
  display: flex;
  justify-content: flex-start;
}

.chat-message .bubble {
  max-width: 70%;
  padding: 8px 12px;
  background-color: #eee;
  border-radius: 15px;
  margin: 4px;
  font-size: 14px;
}

.chat-message.me .bubble {
  background-color: #b3e5fc;
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
}

.chat-message.them .bubble {
  background-color: #f1f0f0;
  border-top-right-radius: 15px;
  border-top-left-radius: 0;
}
